/ByteArrayDataSource.class
/DataSourceResolver.class
/DefaultAuthenticator.class
/Email.class
/EmailAttachment.class
/EmailConstants.class
/EmailException.class
/EmailUtils.class
/HtmlEmail$InlineImage.class
/HtmlEmail.class
/ImageHtmlEmail.class
/MultiPartEmail.class
/SimpleEmail.class
/package-info.class
/EmailUtilsTest.class
